<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_home_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bg_round_button"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".test2"></activity>
        <activity android:name=".qrcode" />
        <activity android:name=".test" />
        <activity
            android:name=".device2"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".devicelist" />
        <activity android:name=".device" />
        <activity
            android:name=".pop_window_view"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".personalsetting"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".personaledit" />
        <activity android:name=".addfriend2" />
        <activity android:name=".addfriend" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>
    </application>

</manifest>